#botones {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px; 
}

#Enviar {
    background-color: #6c757d; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
}

#Reiniciar {
    background-color: #dc3545;
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
}

 
#Enviar:hover {
    background-color: #5a6268;
}

#Reiniciar:hover {
    background-color: #c82333; 
}

